body {
    font-family: 'Nunito Sans', sans-serif;
    color: #1c1c1c;
    background-color: white;
    /* background-image: url('../img/bg.jpg');
    background-size: cover;
    background-repeat: none; */
}

.qr-box {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 550px;
  height: 550px;
  background-image: url('../img/pattern-b.png');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 30px;
}

.qr-box__content {
    padding: 20px;
}

.qr-box__content img.logo {
    width: 250px;
    margin-top: -40px;
}

.qr-box__content h3 {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.25px;
    margin-bottom: 4px;
}

.qr-box__content p {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}

.qr-box__content .qr-code .qr-code-container {
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.2);
}

.qr-box__content .qr-code .qr-code-container img {
    width: 100%;
}


.hr--primary {
    width: 100%;
    height: 1px;
    background-color: #E02028;
}

@media (max-width: 767px) { 
     .qr-box {
        width: 350px;
        height: 350px;
        padding: 10px;
      }
      
      .qr-box__content {
          padding: 15px;
          max-height: 300px;
      }
      
      .qr-box__content img {
          width: 60px;
      }

      .qr-box__content h3 {
        font-size: 10px;
    }
    
    .qr-box__content p {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .qr-box__content .qr-code p {
        font-size: 12px;
        margin-bottom: 10px;
    }
     
    .qr-box__content .qr-code .qr-code-container  {
          width: 110px;
      }
}